body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

input[type=submit] {
    border-radius: 8px;
    box-shadow: 1px 2px 5px 1px grey;
    cursor: pointer;
    background: linear-gradient(grey 1%, white 75%, grey 100%);
    color: grey;
}

input[type=submit]:hover {
    background: linear-gradient(white 5%, grey 85%, white 100%);
    color: black;
    transform: scale(1.05);
    transition: scale 0.3s, color 0.3s, background 0.3s;
}
